<!DOCTYPE html>
<html>

<head>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@easepick/core@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/datetime@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/base-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/amp-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/range-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/lock-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/preset-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/kbd-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/time-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
</head>

<body>
  <section class="section">
    <div class="maincolumns columns is-desktop">
      <div class="column is-10 is-offset-1 has-background-white" style="border-radius: 25px;">
        <div class="card">
          <div class="card-content" style="max-width: 1100px;">
            <h1 id="calendar-month-title"></h1>
            <div id='calendar' style="width: 100%; max-width: 1100px; max-height: 1100px; margin:10px auto;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>


</body>

</html>
