<!DOCTYPE html>
<html>

<head>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@easepick/core@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/datetime@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/base-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/amp-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/range-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/lock-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/preset-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/kbd-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/time-plugin@1.2.1/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
</head>

<body>
  <section class="section">
    <div class="maincolumns columns is-desktop">
      <div class="column is-10 is-offset-1 has-background-white" style="border-radius: 25px;">
        <div class="card">
          <div class="card-content" style="max-width: 1100px;">

            <div id='calendar'
              style="width: 100%; min-height: 600px; max-width: 1100px; max-height: 1100px; margin:10px auto;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    const calendarEl = document.getElementById('calendar');
    let arrayData = JSON.parse('<%- JSON.stringify(locals.calendar_data) %>');
    let calendar;

    document.addEventListener('DOMContentLoaded', function () {
      let randomSelectedColor;
      let tempColor;
      function getRandomColor() {
        let red = Math.floor(Math.random() * 256);
        let green = Math.floor(Math.random() * 256);
        let blue = Math.floor(Math.random() * 256);
        let randomColor = 'rgb(' + red + ',' + green + ',' + blue + ')';
        return randomColor;
      }

      calendar = new FullCalendar.Calendar(calendarEl, {
        timeZone: 'UTC',
        initialView: 'dayGridMonth',
        events: arrayData,
        editable: false,
        selectable: false,

      });
      calendar.render();

    });
  </script>
</body>

</html>
</script>