<!DOCTYPE html>
<html>

<head>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>

<body>
    <section class="section has-background-light">
        <div class="maincolumns columns is-desktop">
            <div class="column is-10 is-offset-1 has-background-white" style="border-radius: 25px;">
                <div class="card">
                    <div class="card-content" style="max-width: 1100px;">
                        <div id='calendar' style="width: 100%; max-width: 1100px; max-height: 1100px; margin:10px auto;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        const arrayData = JSON.parse('<%- JSON.stringify(locals.calendar_data)%>')
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
            let calendarEl = document.getElementById('calendar');
            let storedEvents = [];
            let calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'UTC',
                initialView: 'dayGridMonth',
                events: arrayData,
                editable: true,
                selectable: true,
                dateClick: (info) => {
                    let eventName = prompt(`Date selected: ${info.dateStr}` + '\nEnter event name:');
                    if (eventName) {
                        let startDate = moment(info.dateStr).set({ hour: moment().hour(), minute: moment().minute(), second: moment().second() }).format('YYYY-MM-DD HH:mm');
                        let endDate = moment(info.dateStr).set({ hour: moment().hour(), minute: moment().minute(), second: moment().second() }).add(2, 'hour').format('YYYY-MM-DD HH:mm')

                        let newEvent = {
                            title: eventName,
                            start: startDate,
                            end: endDate,
                        };
                        calendar.addEvent(newEvent);
                        storedEvents.push(newEvent);
                    }
                    fetch('/submitEvent', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(storedEvents)
                    }).then(response => response.json()).then(data => {
                        console.log('Response from server:', data);
                    }).catch(error => {
                        console.error('Error:', error);
                    });
                },
            });
            calendar.render();
            }, 1000)
        });
    </script>
</body>

</html>
