<!DOCTYPE html>
<html>

<body>
    <section class="section">
        <div class="maincolumns columns is-desktop">
            <div class="column is-10 is-offset-1 has-background-white" style="border-radius: 25px;">
                <div class="card" style="margin-left: 20%; margin-right: 20%;">
                    <div class="card-content">
                        <div class="content">
                            Go Shopping
                            <time datetime="2016-1-1">11:00AM</time>
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-left: 20%; margin-right: 20%;">
                    <div class="card-content">
                        <div class="content">
                            Car in for service
                            <time datetime="2016-1-1">2:00PM</time>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</body>

</html>