<!DOCTYPE html>
<html>

<body>
    <section class="section">
        <div class="maincolumns columns is-desktop">
            <div class="column is-10 is-offset-1 has-background-white" style="border-radius: 25px;">
                <div class="card" style="margin-left: 20%; margin-right: 20%;">
                    <div class="card-content">
                        <div class="content">
                            <div id="dayCalendar" style="min-height: 600px;"></div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <script>
        const dayCalendarEl = document.getElementById('dayCalendar');
        let dayArrayData = JSON.parse('<%- JSON.stringify(locals.calendar_data) %>');
        let dayCalendar;

        document.addEventListener('DOMContentLoaded', function () {
            let randomSelectedColor;
            let tempColor;
            function getRandomColorWeek() {
                let red = Math.floor(Math.random() * 256);
                let green = Math.floor(Math.random() * 256);
                let blue = Math.floor(Math.random() * 256);
                let randomColor = 'rgb(' + red + ',' + green + ',' + blue + ')';
                return randomColor;
            }
            dayCalendar = new FullCalendar.Calendar(dayCalendarEl, {
                timeZone: 'UTC',
                initialView: 'dayGridDay',
                events: dayArrayData,
                editable: false,
                selectable: false,

            });
            dayCalendar.render();

        });
    </script>
</body>

</html>