<!DOCTYPE html>
<html>
<!-- <%- include("../templates/header") %> -->

<head>
</head>

<body>
    <section class="section">
        <div class="maincolumns columns is-desktop">
            <div class="column is-10 is-offset-1 has-background-white" style="border-radius: 25px;">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <div id="weekcalendar" style="height: 600px;"></div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <script>

    </script>
</body>

</html>