<!DOCTYPE html>
<html>
<%- include("templates/header") %>

    <body>
        <section class="section has-background-light">
            <div class="maincolumns columns is-desktop">
                <div class="column is-10 is-offset-1 has-background-white" style="border-radius: 25px;">
                    <div class="card" style="margin-left: 20%; margin-right: 20%;">
                        <div class="card-content">
                            <div class="content" style="text-align: center;">
                                <h1 class="title" style="display: inline;">Friend Requests</h1>
                            </div>
                            <!-- Columns with subheaders -->
                            <div class="columns">
                                <div class="column">
                                    <h2 class="subtitle">Accepted</h2>
                                    <!-- Add content specific to Accepted column here -->
                                    <ul>
                                        <li>
                                            <span>Sarah</span>
                                        </li>
                                        <li>
                                            <span>Amy</span>
                                        </li>
                                        <li>
                                            <span>Mark</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="column">
                                    <h2 class="subtitle">Pending</h2>
                                    <ul>
                                        <li>
                                            <span>Derinder</span>
                                        </li>
                                        <li>
                                            <span>Enrique</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="column">
                                    <h2 class="subtitle">Outgoing</h2>
                                    <ul>
                                        <li>
                                            <span>Zhang</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="column">
                                    <h2 class="subtitle">New</h2>
                                    <button class="button is-primary is-rounded">
                                        <span class="icon is-small">
                                            Add
                                        </span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>