<!DOCTYPE html>
<html>

<body>
    <section class="section has-background-light">
        <div class="maincolumns columns is-desktop">
            <div class="column is-10 is-offset-1 has-background-white" style="border-radius: 25px;">
                <div class="card" style="margin-left: 20%; margin-right: 20%;">
                    <div class="card-content">
                        <div class="content">
                            <div id="app"></div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <script>
        // const calendarData = locals.calendarData;

        // document.addEventListener('DOMContentLoaded', function () {
        //     console.log("Helloooo");
        //     var Calendar = window.tui.Calendar;
        //     var cal = new Calendar('#app', {
        //         defaultView: 'week',
        //         calendars: MOCK_CALENDARS, // Make sure to define or pass this variable
        //         week: {
        //             taskView: true,
        //             eventView: false,
        //         },
        //     });
        // });
    </script>

</body>

</html>