<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/bulma.min.css" />
  <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/cloudinary-jquery@2.11.3/cloudinary-jquery.min.js"></script>
  <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/logo.png" width="172" height="88" />
      </a>
    </div>



    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Personal Calendar
        </a>

        <a href="/friendCalendar" class="navbar-item">
          Group Calendar
        </a>

        <a href="/friends" class="navbar-item">
          Friends
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <span style="font-size: 20px;">
            <%if(locals.user_name) {%>
              <%= user_name%>👋
                <%}%>
          </span>


          <div class="buttons" style="margin-left: 20px;">

            <% if (locals.isLoggedIn) { %>
              <a href="/logout" class="button is-primary">
                <strong>Log Out</strong>
              </a>
              <% } else { %>
                <a href="/signup" class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="/login"> Log in </a>
                <% } %>
          </div>

        </div>
      </div>
  </nav>
</head>
