<%if (locals.friend_list) { %>
  <% let i=0; %>
    <div class='friend'>

      <% for (i; i < friend_list.length; i++) { %>
        <% if (friend_list[i].friend_status) {%>

          <div class="columns is-mobile">
            <div class="column is-three-fifths is-offset-one-fifth">
              <div class="box">
                <%= friend_list[i].name%>
              </div>
            </div>
          </div>
          <%}%>
            <%}%>
    </div>
    <%}%>
